<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/health.css') }}">
        <title>Scores</title>   
    </head>
    <body>
    	<h1>Here are 10 places to eat in {{ zippy }}</h1>
    	<p>
        <table>
        	<head>
        		<tr>
        			<th>Restaurant Name</th>
        			<th>Level of Risk</th>
        		</tr>
        	</head>
        	<tbody>
				{% for e in eateries.values() %}
                <tr>
                    <td>{{ e['name'] }}</td>
                    <td>{{ e['risk'] }}</td>
                </tr>
            	{% endfor %}
            </tbody>
        </table>
        <p><a href='/health'>Click here</a> if you would like to enter another zip code!
    </body>
</html>