    <html>
    <head>
        <link rel="stylesheet" href='design.css'>
        <title>Health Scores</title>
    </head>
    <body>
        <h1> I hear you're hungry! Well, I'm here to help. </h1>    
        <form action='scores'>
            What San Francisco zip code will you be dining in?<br>
            Here is a map to help you out<br>
            <img src='http://www.healthysf.org/bdi/outcomes/images/zip-map.jpg'><br>
            <input type ='text' name ='zip_code'>
            <input type ='submit'>
        </form>
    </body>
    </html> 